<%# The form_with helper method instantiates a form builder. %>
    <%# @article is the model we're interacting with%>
<%= form_with model: article do |form| %>
  <div>
      <%# creates a form with Title: textfield %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
      <%# creates a form labelled body with a big text area%>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
  <%# creates a select box for statuses %>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div>
      <%# creates a submit button :) %>
    <%= form.submit %>
  </div>
<% end %>